.card-body{
  box-sizing: border-box;
  overflow: hidden;
text-overflow: ellipsis;
width: 300px;
}

.card-body span{
  margin-right: 5px;
  font-size: 1rem;
  color: dimgray;
  cursor: pointer;
}

.card-text{
  margin: 0;
  padding: 0 3px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#displayDetailsParDiv{
  overflow: hidden;
  position: relative;
  display: none;
}

#displayDetailsParDiv:hover #detailsImg {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

#displayDetailsParDiv:hover #detailsFoodTitle{
  background-color: rgba(0, 0, 0, .3);
}

#displayDetailsParDiv:hover #detailsFoodText{
  background-color: rgba(0, 0, 0, .3);
}

#detailsFoodTitle{
  transition: background-color .2s;
}

#detailsFoodText{
  white-space: inherit;
  transition: background-color .2s;
}

#detailsImg{
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 100%;
  transition: filter .2s;
}

